@import "assets/variables";

.app-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 0 auto;
}

.app-header {
  display: flex;
  flex-direction: row;
  width: $CONTAINER_MAX_WIDTH;
  margin: 0 auto;
  padding: $CONTAINER_PADDING;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
